BasedOnStyle: LLVM
Language: Cpp

# Отступы
IndentWidth: 4
ColumnLimit: 100


BreakBeforeBraces: Allman

InsertBraces: true 
BinPackParameters: AlwaysOnePerLine
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: None
# ЗАПРЕТ КОРОТКИХ КОНСТРУКЦИЙ
# Эти параметры понимает даже старый clang-format
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
# Указатели
PointerAlignment: Left

# Пробелы
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
NamespaceIndentation: All

IndentAccessModifiers: false
AccessModifierOffset: -4

# Инклюды
SortIncludes: true
