BasedOnStyle: LLVM
Language: Cpp

# Отступы
IndentWidth: 4
ColumnLimit: 100


BreakBeforeBraces: Allman

InsertBraces: true 
BinPackParameters: AlwaysOnePerLine
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
# Указатели
PointerAlignment: Left

# Пробелы
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
NamespaceIndentation: All

IndentAccessModifiers: false
AccessModifierOffset: -4

# Инклюды
SortIncludes: true

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

BreakConstructorInitializers: BeforeComma

ConstructorInitializerAllOnOneLineOrOnePerLine: true

